*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    font-size: 4vw;
}

header{
    width: 100%;
    height: 5%;
    background-color:blue;
}

footer{
    width: 100%;
    height: 10%;
    background-color: darkblue;
    position: absolute;
    color: aliceblue;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

main{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dossier {
	width: 25%;
	height: auto;
}

#back{
    width: 8%;
    height: auto;
}

#back input{
    width: 100%;
    height: 100%;
}

p{
    word-wrap: break-word;
}